<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Task2</title>
  <link ref="stylesheet" type ="text/css" href="app.component.css">
</head>
<body>
  <div class ="main">
    <form id="myForm">
      <input type = "text" name="Username" placeholder="Enter Username">
      <input type = "password" name="Password" placeholder="Enter password">
      <input type = "password" name="Repassward" placeholder="Enter the Repassward">
      <input type = "email" name="Email" placeholder="Enter the Email">
<br>
      <button type="button" (click)="saveFormData()">Submit</button>
       
        <button>cancel</button>
    </form>
  </div>
</body>
</html>